@color-background: #FFFFFF;
@color-primary: #C4BDAF;
@color-black: #000000;

@shell-width: 846px;
@shell-height: 536px;
@canvas-width: 640px;
@canvas-height: 320px;

@font-face {
    font-family: "primary";
    src: url("../fonts/font.woff") format("woff");
    font-display: swap;
}

@font-primary: 'primary', cursive;

body {
    background-color: @color-background;
    color: @color-primary; 
    font-family: @font-primary;
    background-image: url('../images/background.png');
    background-repeat: repeat-x;

    #shell {
        width: @shell-width;
        height: @shell-height;
        background: url("../images/shell.png");
        margin: 79px auto 0 auto;

        #canvas {
            width: @canvas-width;
            height: @canvas-height;
            margin-top: 135px;
            margin-left: 102px;
            background-color: @color-black;
        }
    }

    #selection-container {
        text-align: center;
        margin-top: 48px;
    }
}



.styled-select {
    display: inline-block;
    border: 2px solid @color-primary;
    border-radius: 8px;
    height: 50px;
    width: 400px;
    overflow: hidden;
    padding: 0px 15px;
    position: relative;

    select {
        background: transparent;
        font-family: @font-primary;
        color: @color-primary;
        border: none;
        font-size: 23px;
        height: 50px;;
        outline: 0px;
        width: 100%;

        -webkit-appearance: none;
        -moz-appearance: none;
        
        text-indent: 1px;
        text-overflow: '';
    }

    &:before {
        position: absolute;
        width: 10px;
        height: 6px;
        right: 20px;
        top: 22px;
        content: ' ';
        background-image: url('../images/arrow.png');
    }
}

#footer {
    text-align: center;
    margin-top: 32px;
    font-size: 10px;
    line-height: 20px;
    a {
        color: @color-primary!important;
    }
}